
  <!-- FOOTER -->

   <footer class="foot">
      <a href="https://twitter.com/DataChic2"> 
        <i class="btt fab fa-twitter"></i> </a> 
      <a href=""> <i class="btt fab fa-facebook-f"></i> </a>
      <a href="https://www.instagram.com/ginger_mary07/"> 
        <i class="btt fab fa-instagram"></i> </a>
      <a href="https://www.linkedin.com/in/mary-alabi-48320964"> 
        <i class="btt fas fa-envelope"></i> </a>
      <p> Copyright &copy; Mary Alabi - 2020 Scripteur, Inc. 
        <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
   </footer>

  </div>  <!-- sBody end -->

 </div><!-- mBody end -->

</main> <!-- main end -->

<!-- <script type="text/javascript" src='index.js'></script> -->
</body>

</html>
