
<div class="footer-padd"></div>
  <div class="footer">
    <a href=""> <i class="btt fab fa-twitter"></i> </a> 
    <a href=""> <i class="btt fab fa-facebook-f"></i> </a>
    <a href=""> <i class="btt fab fa-instagram"></i> </a>
    <a href=""> <i class="btt fas fa-envelope"></i> </a>
    <p> Copyright &copy; Mary Alabi - 2020 Scripteur, Inc. 
      <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </div>
</div>
</body>
</html>
