<%- include('partials/header1') -%>

<div class="sBody">
  <div class="bodyContain" style="padding: 12% 5% 5% 8%;">
    <br>
    <br>
    <br>
     <h1>What I do...</h1>
     <p></p>
        <p><%=title %></p>
       
        <br>
        <br>
        <div class="cont3">
          <img class="mee " src="images/cartoonMe.gif" alt="">
      
              <h4 class="hhh"><p >Hi There! I'm <b>MARY</b> and I'm a</p></h4>

        <!-- AND, I'M ALL THESE THINGS 👇 -->
        <div id="aboutme" class="carousel slide " data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <p>
              <h4>👩‍💻 | SOFTWARE ENGINEER | FULL STACK WEBSITE DESIGNER |</h4>
              </p>
            </div>
           
            <div class="carousel-item">
              <p>
              <h4>👩‍🔧 | JAVASCRIPT ENTHUSIAST | PYTHON CODER | </h4>
              </p>
            </div>
            <div class="carousel-item">
              <p>
              <h4>👩‍🔧 | REACT | NODE.JS | EXPRESS.JS | MONGODB | MONGOOSE DESIGNER</h4>
              </p>
            </div>
            <!-- <div class="carousel-item">
              <p>
              <h4>👩‍🔧 | WEBFLOW DESIGNER | UI/UX  DESIGN | </h4>
              </p>
            </div> -->
            <div class="carousel-item">
              <p>
              <h4>👩‍🍳 | FOODIE | LOVER OF BEAUTIFUL THINGS |</h4>
              </p>
            </div>
            
          </div>
            
          <a class="carousel-control-prev" href="#aboutme" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#aboutme" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
      <br>
      <br> <br>
        <a href="/" class="btn btn-primary" name="bot" onclick=''>Back</a>
        <br>
   
<!--     
        <marquee class="mantra" width="100%" direction="right" height="60px" width= scrollamount="2" ><h6> 
          "...declare variables, not war"</h6></marquee> -->
  </div> 
  
<%- include("partials/footer") -%>

    
    