<%- include('partials/header1') -%>

 <div class="sBody">
    <div class="bodyContain" style="padding: 31% 5% 5% 7%" >
      <br>
      <br>
      <h1>Contact</h1>
          <p></p>
          <p><%=title %></p> <a href="#" style="color:red; display:inline;">here</a>
          <br>
          <br>
          <br>
          <a href="/" class="btn btn-primary" name="bot" onclick=''>Back</a>  
    </div> 
  
    <!-- end of bodycontain-->       

<%- include("partials/footer") -%>
