<%- include('partials/headerX') -%>
<div class="sBody">  

   <div class="bodyContain">
      
<div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Secrets</h1>
      <p class="lead">Don't keep your secrets, share them anonymously!</p>
      <hr>    </div>
  </div>
    </div> <!-- bodyContain end --> 
       
             

          
<%- include("partials/footer" ); -%>
