<%- include('partials/header1') %>
<div class="sBody">  

  <div class="bodyContain">
     
    <div class="jumbotron centered contai"> 
        <div class="conta">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">Journal</h1>
            <p class="lead">Keep your daily records here! </p>
            <hr>
            <a class="btn btn-light btn-lg" 
                href="/register" 
                role="button">
                Register
              </a>
            <a class="btn btn-dark btn-lg" 
                href="/login" 
                role="button">
                Login
              </a>
        
      </div>
    </div>
 </div> <!-- bodyContain end --> 
      
            
<%- include('partials/footer') %>
