<%- include('partials/header') -%>

<div class="sBody">
  <div class="bodyContain">
    <br><br><br><br><br><br><br>
        <h1><%= title %></h1>
        <p></p>
        <p><%= post%><a href="/">
        <a href="/"> ...Back</a></p>
        <br>
    <br>
        <a href="/home" class="btn btn-primary" 
        name="bot">Back</a>
      
  </div> 
  
  <!-- end of bodycontain-->

<%- include("partials/footer") -%>
