<%- include('partials/headerX') %>
<div class="sBody">  
  <div class="bodyContain">  
   <div class="compose1">  

<div class="jumbotron centered">
  <div class="contr">
    <i class="fas fa-key fa-6x"></i>
    <!-- <h1 class="display-3" >fi</h1> -->
    <h5 class="display-3" >Congratulations!!!</h5>
    <p class="lead">Your registration is complete. Go ahead and log in to make entries.</p>
    <hr>
    <div class="btnCont">
          <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

    </div>

  </div>
</div>

</div><!-- compose1 end --> 
    
</div> <!-- bodyContain end --> 

<%- include('partials/footer') %>
